# ~/.vim/UltiSnips/markdown.snippets
snippet head "shell脚本头模板" b
#!/bin/bash
# -----------------------------------------------------------------
# FileName: `!v expand("%:t")`
# Date: `!v strftime("%Y-%m-%d")`
# Author: jiftle
# Description: 
# -----------------------------------------------------------------

endsnippet
# vim:ft=snippets:
